.container {
  min-height: 100vh;

  header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 35px;
    background-color: #0e2963;
  }

  .w1200 {
    display: flex;
    justify-content: space-between;
    width: var(--max-width);
    color: #fff;
  }
}
